---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655520842,"sunrise":1655465493,"sunset":1655519415,"temp":77.77,"feels_like":76.98,"pressure":1006,"humidity":37,"dew_point":49.44,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":1.99,"wind_deg":217,"wind_gust":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1655517600,"temp":79.16,"feels_like":79.16,"pressure":1006,"humidity":34,"dew_point":48.42,"uvi":0,"clouds":71,"visibility":10000,"wind_speed":4.12,"wind_deg":270,"wind_gust":8.08,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.2},{"dt":1655521200,"temp":77.77,"feels_like":76.98,"pressure":1006,"humidity":37,"dew_point":49.44,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":2.19,"wind_deg":170,"wind_gust":3.18,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.19},{"dt":1655524800,"temp":78.35,"feels_like":77.52,"pressure":1006,"humidity":35,"dew_point":48.47,"uvi":0,"clouds":62,"visibility":10000,"wind_speed":0.87,"wind_deg":53,"wind_gust":4.29,"weather":[{"id":803,"[...]
[...]
