---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=<maps_key>&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 18 Jun 2022 02:54:17 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.739154,"lng":-104.984703},"displayLatLng":{"lat":39.739154,"lng":-104.984703},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=<maps_key>&type=map&size=225,160&locations=39.7391536,-104.9847034|marker-sm-50318A-1&scalebar=true&zoom=12&rand=991023900"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geocodeQuality":"COUNTY","d[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely,alerts&lat=39.739154&lon=-104.984703&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7392,"lon":-104.9847,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1655520840,"sunrise":1655465493,"sunset":1655519416,"temp":77.77,"feels_like":76.98,"pressure":1006,"humidity":37,"dew_point":49.44,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":1.99,"wind_deg":217,"wind_gust":4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1655517600,"temp":79.16,"feels_like":79.16,"pressure":1006,"humidity":34,"dew_point":48.42,"uvi":0,"clouds":71,"visibility":10000,"wind_speed":4.14,"wind_deg":270,"wind_gust":8.1,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.2},{"dt":1655521200,"temp":77.77,"feels_like":76.98,"pressure":1006,"humidity":37,"dew_point":49.44,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":2.19,"wind_deg":169,"wind_gust":3.18,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.19},{"dt":1655524800,"temp":78.35,"feels_like":77.52,"pressure":1006,"humidity":35,"dew_point":48.47,"uvi":0,"clouds":62,"visibility":10000,"wind_speed":0.89,"wind_deg":53,"wind_gust":4.29,"weather":[{"id":803,"[...]
